/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 39 40 41 30 32 31 18 6 7 8 9 10 11 23 22 21 20 19 33 34 35>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 39 40 41 24 12 0 1 2 3 5 4 17 16 15 14 13 25 26 27 28 29>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };
    };

    macros {
        joy: joy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(J) &kp O &kp Y &kp C &kp E &kp SPACE &kp LS(B) &kp A &kp R &kp R &kp I &kp E &kp N &kp T &kp O &kp S &kp SPACE &kp LS(R) &kp LS(N)>;
            label = "JOY";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q              &kp W    &kp E             &kp R         &kp T            &kp Y      &kp U      &kp I      &kp O         &kp P                       &none
&none  &HML LEFT_SHIFT A  &kp S    &kp D             &kp F         &kp G            &kp H      &kp J      &kp K      &kp L         &HMR RIGHT_SHIFT SEMICOLON  &none
&none  &lt 1 Z            &lt 2 X  &kp C             &kp V         &kp B            &kp N      &kp M      &kp COMMA  &lt 2 PERIOD  &lt 1 SLASH                 &none
                                   &kp LEFT_CONTROL  &kp LEFT_ALT  &kp BACKSPACE    &kp SPACE  &kp ENTER  &kp TAB
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR    &kp PERCENT    &kp KP_MULTIPLY  &kp N7        &kp N8        &kp N9        &kp PLUS   &none
&none  &none            &none        &none     &kp UP_ARROW  &joy           &kp KP_DIVIDE    &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS  &none
&none  &none            &none        &kp LEFT  &kp DOWN      &kp RIGHT      &kp N0           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL  &none
                                     &none     &none         &trans         &trans           &trans        &kp LEFT_WIN
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCL  &kp AT  &kp HASH        &kp DLLR      &kp PRCNT    &kp CARET          &kp AMPS        &kp ASTRK      &kp LPAR          &kp RPAR           &none
&none  &none     &none   &none           &kp UP_ARROW  &none        &kp SQT            &kp UNDERSCORE  &kp BACKSLASH  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&none  &none     &none   &kp LEFT_ARROW  &kp DOWN      &kp RIGHT    &kp DOUBLE_QUOTES  &kp TILDE       &kp PIPE       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
                         &none           &none         &trans       &trans             &trans          &none
            >;
        };
    };
};
